<h1>Registra una acción</h1>

<label for="username">Batucaner:</label> <br />
<br />
<p-dropdown
  [options]="(users$ | async) || []"
  [(ngModel)]="selectedUser"
  optionLabel="name"
  placeholder="Selecciona una persona"
/>

<p>
  ¿No estás en la lista?
  <a
    style="text-decoration: underline; cursor: pointer"
    (click)="goToUserForm()"
  >
    Regístrate aquí</a
  >
</p>

<br />

<label for="username">Tipo de acción:</label> <br /><br />
<p-dropdown
  [options]="(actionTypes$ | async) || []"
  [(ngModel)]="selectedActionType"
  placeholder="Selecciona un tipo de acción"
  optionLabel="description"
/>
<span *ngIf="selectedActionType"
  >&nbsp;&nbsp;{{ selectedActionType.points }} puntos
</span>
<br /><br />

<label for="username">Día:</label> <br /><br />
<p-calendar [(ngModel)]="date" [maxDate]="today"/>

<br /><br />

<p-button (click)="createAction()" label="Registrar acción" />
