<h1>Tipos de acciones registrados</h1>

<p>Hola, si no eres de la ecomisión porfa no toques aquí, ¡gracias!</p>

<p-table
  [value]="(actionTypes$ | async) || []"
  [tableStyle]="{ 'min-width': '50rem' }"
  sortField="date"
  [sortOrder]="-1"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="description">
        Descripción<p-sortIcon field="description" />
      </th>
      <th pSortableColumn="points">Puntos <p-sortIcon field="points" /></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-actionType>
    <tr>
      <td>{{ actionType.description }}</td>
      <td>{{ actionType.points }}</td>
    </tr>
  </ng-template>
</p-table>
