<h1 style="cursor: pointer;" (click)="goHome()">BATUCAN ECOPUNTOS</h1>

<router-outlet></router-outlet>

<!-- <app-action-form></app-action-form>

<br /><br />

<app-user-list></app-user-list>

<br /><br />

<app-user-form></app-user-form>

<br /><br /><br /><br />

<br /><br /><br /><br />

<app-action-list></app-action-list>

<br /><br /><br /><br />

<br /><br /><br /><br />



<br /><br /><br /><br />
<br /><br /><br /><br />

<app-action-type-form></app-action-type-form>

<br /><br /><br /><br /> -->

<br /><br /><br /><br /><br />

<small>Hecho con 💚 por Batucán</small>
